[Unit]
Description=caphillrust.com
After=network.target
Documentation=https://github.com/JesusGuzmanJr/cap-hill-rust

[Service]
EnvironmentFile=-/etc/sysconfig/cap-hill-rust
ExecStart=/usr/local/bin/cap-hill-rust
# Actix expects a SIGTERM to perform a graceful shutdown of workers
KillSignal=SIGTERM
Restart=always
TimeoutStopSec=3
User=root

[Install]
WantedBy=multi-user.target
Alias=cap-hill-rust.service