{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block head %}
<meta name="description" content="Cap Hill Rust is a Seattle based Meetup group to code/hack/learn Rust.">
{% endblock %}

{% block content %}
<header>
  <h1>{{title}}</h1>
  <p>Welcome to the Cap Hill Rust Coding/Hacking/Learning homepage!</p>

  <nav>
    <ul>
      <li><a class="current" href="/">Home</a></li>
      <li><a href="{{meetup_url}}">Meetup</a></li>
      <li><a href="/library">Library</a></li>
      <li><a href="{{github_url}}">GitHub</a></li>
    </ul>
  </nav>
</header>

<main>
  <p>Calling all Seattle-based Rust enthusiasts! We're an informal bunch getting together to program in
    Rust.
  </p>
  <p>
    Join us to explore coding practices, share knowledge, and develop new skills together. Come meet like-minded
    individuals
    in a supportive and engaging environment to expand your programming horizons. Let's code, hack, and learn
    together!
  </p>
  <p>
    Checkout our <a href="{{meetup_url}}">Meetup&nbsp;page</a> for more information and to RSVP
    for our next event.
  </p>
</main>

{% include "footer.html" %}
{% endblock %}