{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block head %}
<meta name="description" content="">
{% endblock %}


{% block content %}
<header>
  <h1>{{title}}</h1>
  <p></p>


  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{{meetup_url}}">Meetup</a></li>
      <li><a class="current" href=" /library">Library</a></li>
      <li><a href="{{github_url}}">GitHub</a></li>
    </ul>
  </nav>
</header>

<main>

</main>

{% include "footer.html" %}
{% endblock %}